.container
  .col-sm-4.col-sm-offset-4
    .row.text-center
      %h1
        Manny Rodriguez
      %hr

      %a(href="http://github.com/avatar382" target="_blank")
        {{ 'github.png' | theme_image_tag }}

      %a(href="https://www.instagram.com/avatar382/" target="_blank")
        {{ 'instagram.png' | theme_image_tag }}

      %a(href="mailto:manny@theavatar.org")
        {{ 'email.jpg' | theme_image_tag }}

  .col-sm-10.col-sm-offset-1
    .row
      %ul.nav.nav-tabs
        %li{class: "{% if page.slug == 'index' %}active{% endif %}" }
          %a{ href: "{% path_to home %}"} 
            Here

        {% for page_in_nav in site.pages %}
        {% if page_in_nav.depth == 1 %}
        %li{class: "{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}" }
          {% link_to page_in_nav %}
        {% endif %}
        {% endfor %}
