.container
  .col-sm-12
    .row.text-center
      %h1
        Manny Rodriguez

      %a(href="http://github.com/avatar382" target="_blank")
        {{ 'images/github.png' | resize: '32x32' | image_tag }}

      %a(href="https://www.instagram.com/avatar382/" target="_blank")
        {{ 'images/instagram.png' | resize: '32x32' | image_tag }}

      %a(href="mailto:manny@theavatar.org")
        {{ 'images/email.jpg' | resize: '32x32' | image_tag }}

    .row
      %ul.nav.nav-tabs
        %li{class: "{% if page.slug == 'index' %}active{% endif %}" }
          %a{ href: "{% path_to home %}"} 
            Home

        {% for page_in_nav in site.pages %}
        {% if page_in_nav.depth == 1 %}
        %li{class: "{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}" }
          {% link_to page_in_nav %}
        {% endif %}
        {% endfor %}
