body {
  padding-top: 70px;
}

footer {
  margin-top: 70px;
}

.navbar-default {
  background-color: #fff;
}

.blog, .projects {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }  
}
  
