---
title: Default layout
is_layout: false
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %title 
      theavatar.org

    <link rel="shortcut icon" href="{{ "favicon.ico" | theme_image_url }}" type="image/x-icon">
    <link rel="icon" href="{{ "favicon.ico" | theme_image_url }}" type="image/x-icon"> 

    {{ 'bootstrap.css' | stylesheet_tag }}
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    {{ 'application.css' | stylesheet_tag }}


  %body
    {% include 'nav' %}

    {% block content %}
    {% endblock %}

    {% include 'footer' %}

    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
